body {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  image-rendering: pixelated;
}

canvas {
  width: 100%;
}

img {
  width: 100%;
}

div {
  user-select: none;
}

body #gameListContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  left: 30%;
  width: 40%;
  height: 100%;
}

#gameListContainer #lobby {
  border: 2px solid white;
  border-radius: 35rem;
  margin-top: 2rem;
  align-items: center;
  justify-items: center;
  display: flex;
  justify-content: space-between;
  width: 99.5%;
  height: 3rem;
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}
#lobbyName {
  margin-left: 20px;
}
#joinButton {
  margin-right: 20px;
  cursor: pointer;
}
#loginDiv form {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15rem;
  left: 37%;
  right: 50%;
  width: 40rem;
  height: 55rem;
  background: rgb(29, 29, 29);
  gap: 2rem;
  border-radius: 35px;
}
#inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: auto;
  width: 100%;
}
#loginDiv button {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
  cursor: pointer;
}

#signUp {
  display: none;
  margin-bottom: 2rem;
}
#signIn {
  margin-bottom: 2rem;
}

#bottomContainer {
  display: flex;
  color: white;
  font-size: large;
  font-weight: bolder;
  text-transform: uppercase;
}
#loginForm button {
  display: fixed;
  margin-bottom: auto;
}

#loginDiv input {
  width: 70%;
  height: 45px;
  border-radius: 15px;
  background: none;
  background-color: white;
  border: none;
  padding-left: 1rem;
  outline: none;
  font-size: large;
  font-weight: 400;
}
#gameButton {
  font-size: medium;
  font-weight: bold;
  position: absolute;

  color: white;
  cursor: pointer;
  font-size: 2.5rem;
  text-transform: uppercase;
}
#playButton {
  position: absolute;
  top: 10px;
  color: white;
  left: 50%;
  cursor: pointer;
}

#board span {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  color: red;
}

#board div {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}
