body {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  image-rendering: pixelated;
}

canvas {
  width: 100%;
}

img {
  width: 100%;
}

div {
  user-select: none;
}

body #gameListContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  left: 30%;
  width: 40%;
  height: 100%;
}

#gameListContainer #lobby {
  border: 2px solid white;
  border-radius: 35rem;
  margin-top: 2rem;
  align-items: center;
  justify-items: center;
  display: flex;
  justify-content: space-between;
  width: 99.5%;
  height: 3rem;
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}
#lobbyName {
  margin-left: 20px;
}
#joinButton {
  margin-right: 20px;
  cursor: pointer;
}
#gameButton {
  font-size: medium;
  font-weight: bold;
  position: absolute;

  color: white;
  cursor: pointer;
  font-size: 2.5rem;
  text-transform: uppercase;
}

#board span {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  color: red;
}

#board div {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}
